:root {
  --dark-purple: #140F2Dff;
  --rich-black-fogra-39: #01020Cff;
  --lavender-blue: #CCC0EFff;
  --magnolia: #F6F2FDff;
  --midnight: #5F2F6Cff;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  position: relative;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  background: var(--dark-purple);
  color: var(--lavender-blue);
  min-height: 100vh;
  padding-bottom: 10rem;
}

a {
  margin: 5px;
}

.navbar-con {
  display: flex;
  background-image: url(../src/assets/headerImg/heroImg.jpg);
  font-size: 1.5rem;
  height: 6rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  font-size: 3rem;
  margin-top: 50px;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  background-image: url(../src/assets/headerImg/heroImg.jpg);
  border-radius: 16%;
}

h5 {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
}

p {
  font-size: 1.3rem;
  margin-top: 0;
}

a {
  color: var(--lavender-blue);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--midnight);
}

header {
    display: flex;
    padding: 40px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url(../src/assets/headerImg/heroImg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header a {
  color: var(--magnolia);
}


button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

.details-btn {
  min-width: 320px;
}

.profile-info {
  text-align: center;
}

.about-text {
  text-align: center;
  margin-top: 10px;
}


li {
  list-style: none;
  font-size: 1.5rem;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.email {
  width: 800px;
  margin: 50px 20px 0px 50px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

aside {margin-top: 50px;
  border: 3px solid black;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.project-card {
  position: relative;
  width: 320px;
  height: 220px;
  margin: 20px;
  margin-bottom: 130px;
  background-color: black;
  border-radius: 15px;
}

.overlay-position {
  position: relative;
}

.img-thumbnail {
  width: 320px;
  height: 220px;
  display: block;
  border: 2px solid black;
  border-radius: 0.25rem;
  padding: 0;
}
.img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.img__overlay:hover {
  opacity: 1;
}

.img__overlay:hover > * {
  transform: translateY(0px);
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.modal-content {
  background-color: rgb(29, 28, 28);
  border: 3px solid white;
}

button {
	background: var(--midnight);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

.navActive {
  color: var(--magnolia);
}

.resume {
  text-align: center;
}

.resume-li {
  list-style: none;
}

.resume-btn {
  background: none;
  color: var(--lavender-blue);
}

.resume-btn:hover {
  color: var(--midnight);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(19, 21, 29, 0.6);
  margin-top: auto;
  padding-top: 15px;
}

footer li {
  padding: 0 20px 10px 0;
}

@media only screen and (max-width: 995px) {
  .resume {
    width: 100%;
  }
}

