* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

.img_container {
  position: relative;
}

.background {
  margin-top: -82px;
  min-height: 100%;
  width: 100%;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
