* {
  box-sizing: border-box;
}

:root {
  font-family: 'Times New Roman', Times, serif;
}

html,
body {
  min-height: 100%;
}
h1 {
  font-family: 'Jost', Sans-serif;
  color: #FCFCFC;
  font-weight: 600;
  font-size: 87px;
}

h2 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 6.3px;
  color: #101218;
}

h3 {
  font-family: 'Jost', sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}

h4 {
  margin-top: 20px;
}

h5 {
  text-align: center;
}

a.nav-link {
  font-size: large;
  font-weight: 600;
  margin-top: 20px;
  margin-right: 30px;
}

.img_container {
  min-height: 100vh;
  background: url(../src/assets/images/background-img.jpg);
  background-size: cover;
  margin-top: -79px;
}

.centered {
  min-width: 100%;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume_btn {
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 15px 15px 15px 15px;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 40px;
  letter-spacing: 3px;
  margin-top: 15px;
}

.about {
  display: flex;
  margin: 90px 50px 100px 50px;
  justify-content: space-around;
}

.text {
  max-width: 30%;
}

.self_pic {
  width: 400px;
  height: 500px;
}

p {
  font-size: 21px;
  text-align: center;
}

.featured {
  font-weight: 500;
  text-align: center;
}

.divider {
  border: 1px solid #000;
  width: 50%;
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 45%;
}

.collum {
  display: flex;
  max-width: 100%;
  margin: 80px 50px 50px 50px;
  justify-content: center;
}

.project_card {
  width: 285px;
  padding: 20px;
}

.project_text, .tech_text {
  font-size: 17px;
  text-align: left;
}

.img-thumbnail:hover {
  transform: scale(1.3);
}

.get_in_touch {
  text-align: center;
  padding: 100px 0px 200px 0px;
  background-color: #C5C5C5;
}

.contact_h2 {
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 4.92px;
  margin-bottom: 20px;
}

.contact_p {
  width: 35%;
  margin-left: 32%;
  margin-right: 45%;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact_btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #000000;
  border-radius: 15px 15px 15px 15px;
  color: #FFFFFF;
  padding: 15px 50px;
}